$color-primary: #e6e4e1;
$color-primary-070: #c5bca1;

$color-secondary: #138f87;

$color-light-white: #f0f8f7;

$color-white: #fff;
$color-gray: #6c757d;

$cover-12: 12px;
$cover-16: 16px;
$cover-20: 20px;
$cover-24: 24px;
$cover-30: 30px;
$cover-50: 50px;
