html {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  width: 100%;
}

ol,
ul,
li {
  list-style: none;
}

body {
  margin: 0;
  text-size-adjust: 100%;
  overscroll-behavior: none;
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    overscroll-behavior: none;
  }
}
