{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{site_url}}/static/css/OrderConfirm.css">
    <title>Order Confirmation</title>
    <style type="text/css">
        {
            % include "fonts/NextArt/next-art.css" %
        }
    </style>
</head>

<body>
    <table class="table">
        <tr>
            <td colspan="2" class="header"
                style="background: url('http://77.221.140.100/img/header/green-texture.jpg')">
                <h1>Информация по заказу</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="content">
                <p>Уважаемый {{ initials }}!</p>
                <p>Спасибо за ваш заказ. Это письмо подтверждает, что ваш заказ принят в работу магазином.</p>
                <p>Номер вашего заказа: <strong>{{ order_number }}</strong></p>
                <p>Если у вас есть какие-либо вопросы, пожалуйста, свяжитесь с нами по электронной почте <a
                        href="mailto:support@example.com">support@example.com</a>.</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="footer">
                <span class="footer-text">Это письмо сформировано автоматически. Пожалуйста, не отвечайте на
                    него.</span>
            </td>
        </tr>
    </table>
</body>

</html>