{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{site_url}}/static/css/Order.css">
    <style type="text/css">
        {
            % include "fonts/NextArt/next-art.css" %
        }
    </style>
</head>

<body>

    <table class="table">
        <tr>
            <td colspan="2" class="header"
                style="background: url('http://77.221.140.100/img/header/green-texture.jpg')">
                <h1>Заказ от Юридического лица</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="content">
                <p>Уважаемые менеджеры</p>
                <p>Поступил новый заказ от Юридического лица, пожалуйста, свяжитесь с ним по указанной контактной
                    информации</p>
                <p>Инициалы заказчика: <strong>{{ initials }}</strong></p>
                {% if user_email %}
                <p>Почта заказчика: <strong>{{ user_email }}</strong></p>
                {% endif %}
                {% if user_phone %}
                <p>Телефон заказчика: <strong>{{ user_phone }}</strong></p>
                {% endif %}
                {% if order_comment %}
                <p>Заказчик указал дополнительную информацию по заказу: <strong>{{ order_comment }}</strong></p>
                {% endif %}
                <p>Номер заказа: <a href="{{ site_url }}"> {{ order_number }}</a>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="footer">
                <span class="footer-text">Это письмо сформировано автоматически. Пожалуйста, не отвечайте на
                    него.</span>
            </td>
        </tr>
    </table>

</body>

</html>