<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://77.221.140.100/static/css/Order.css">
    <title>SMS Delivery Error</title>
    <style type="text/css">
        {
            % include "fonts/NextArt/next-art.css" %
        }
    </style>
</head>

<body>
    <table class="table">
        <tr>
            <td colspan="2" class="header"
                style="background: url('http://77.221.140.100/img/header/green-texture.jpg')">
                <h1>Произошла ошибка при попытке отправить СМС!</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="content">
                <p>ID СМС: <strong>{{ sms_id }}</strong></p>
                <p>Номер телефона: <strong>{{ phone }}</strong></p>
                <p>Сообщение об ошибке: <strong>{{ error_message }}</strong></p>
                <p>Пожалуйста, проверьте систему для устранения проблемы.</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="footer">
                <span class="footer-text">Это письмо сформировано автоматически. Пожалуйста, не отвечайте на
                    него.</span>
            </td>
        </tr>
    </table>
</body>


</html>