{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://77.221.140.100/static/css/CouponEmail.css">

    <title>Track Number Added</title>
    <style>
        {
            % include "fonts/NextArt/next-art.css" %
        }
    </style>
</head>

<body>
    <table class="table">
        <tr>
            <td colspan="2" class="header"
                style="background: url('http://77.221.140.100/img/header/green-texture.jpg')">
                <h1>В Антураж появился новый сертификат</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="content-header">
                <h2>Скидка {{ discount }}%</h2>
            </td>
        </tr>
        <tr class="coupon">
            <td class="coupon-code">
                <span>{{ code }}</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="content-footer">
                <p>Вы можете воспользоваться сертификатом при оформлении заказа на сайте. Срок действия ограничен до:
                    {{ end_date }} по Сургуту. <br>Количество использований осталось: <span>{{ quanity }}</span>.
                </p>
                <div class="footer">
                    <a href="{{ site_url }}" class="btn">перейти</a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="footer">
                <span class="footer-text">Это письмо сформировано автоматически. Пожалуйста, не отвечайте на
                    него.</span>
            </td>
        </tr>
    </table>
</body>

</html>