<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="main">
        <div class="header container">
            <div class="logo container">
                <img src="/backend/static/img/logo.svg" alt="logo">
            </div>
            <div class="header-content container">
                <h2>Смена пароля</h2>
            </div>
        </div>
        <div class="content">

        </div>
        <div class="footer">

        </div>
    </div>
</body>
<style>
    body {
        font-size: 24px;
    }

    .logo {
        max-width: 300px;
        max-height: 100px;
    }
</style>

</html>