@import "./normalize.scss";

html {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  overflow: hidden;

  font-size: #{$base-font-size};
}

body {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;

  overscroll-behavior: none;
  box-sizing: border-box;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    overscroll-behavior: none;
  }
}
